boto3
Flask
Flask-Cors
google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
google-genai
opencv-python
pandas
Pillow
pillow-heif
pytesseract
requests
selenium
selenium-stealth
streamlit
webdriver-manager
bs4
docx